# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual Environments
.env
.venv
.venv-py312/
env/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.sqlite3-journal

# Temporary files
*.tmp
*.bak
*.swp
